name: Run ROCm installer

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  install-latest:
    name: Run ROCm installer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
      - run: |
          which hipcc

  install-packages:
    name: Run ROCm installer with custom package list
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          packages: hipcc
          version: 6.3.0
      - run: which hipcc

  install-usecase:
    name: Run ROCm installer with custom usecase
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          usecase: openmpsdk
          version: 6.3.0
      - run: ls /opt/rocm/
